<% provide( :title, "Admins Index") %>


<div class="row">
  <div class="col-md-12">
  <div class="x_panel" style="">
      <div class="x_title">

<h1>Admins INDEX</h1>

</div>
<br>
<br>
<br>
<% if @admins.any? %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
     
   
     <th>Last Name</th>
  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |agency| %>
      <tr>
        <td><%= agency.first_name %></td>

       

        <td><%= agency.last_name %></td>
     

        <td><%= link_to 'Show', agency , class:"btn btn-success"%></td>
        <td><%= link_to 'Edit', edit_admin_path(agency), class:"btn btn-success" %></td>
        <td><%= link_to 'Delete', agency, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= link_to 'Dashboard', root_path, class:"btn btn-info" %> | <%= link_to "Back", :back, class:"btn btn-warning"%>


<%else%>

<p style="color:red;">No admin Registered Yet!</p>
<%end%>