<% provide( :title, "Comments") %>
 <div class="row">
  <div class="col-md-12">
  <div class="x_panel" style="">
      <div class="x_title">

<%if comment%>    
   <div id="comments">

<div class="content">
	<p class="comment_content"><%= simple_format comment.body %> 
	<p class="comment_author"><%= time_ago_in_words(comment.created_at)%> ago by <em><%= comment.commenter.first_name %> <%= comment.commenter.last_name if comment.commenter.last_name%> </em>

<i class="fa fa-user"> * <%= comment.commenter.type %></i>
	 



	 </p>	
	</p>
	<%if comment.attachment? %>
<p>

<%= link_to "get attachment", download_file_comment_path(comment), data: "attachment_file", class:'btn-info btn-xs' %>
 </p>

<%else%>
<p style="color:orange">no file attached</p>



<%end%>
<% if current_user.admin? || comment.commenter == current_user %>
	
	<%= link_to "edit", edit_comment_path(comment), class:'btn-success btn-xs'%>
    
	<%= link_to "delete", [comment.grumble, comment], method: :delete, data: {confirm: "Do you really want to delete this comment"}, class:'btn-danger btn-xs'%>
	
	 
    <%end%>  
	 <%end%>
	</div>
	

 	</div>
	
 </div>


	</div>

	
 


 
