  <% provide( :title, "userEdit")%>
<p class="notice"><%= notice %></p>


<%= form_for([@grumbler]) do |form| %>
  <% if @grumbler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grumbler.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @grumbler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="row">



  <div class="col-md-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Sign up Form</h2>
        <ul class="nav navbar-right panel_toolbox">
         
        
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form class="form-horizontal form-label-left input_mask">

 

 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
 <div class="profile-usertitle">
          <div class="profile-usertitle-name">
          <div class="profile-userpic">
   <%= form.label :avarta, "Profile Pic" %>
 
   <%= image_tag(@grumbler.avarta_url) if @grumbler.avarta? %>
    <%= form.file_field :avarta, autofocus: true %>
   <%= form.hidden_field :avarta_cache %>
  
  
      <%= form.check_box :remove_avarta %>
      Remove Profile Pic
    
  </div>
  </div>

          </div>







  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <%= form.label :title%>
            <%= form.select :title, ["Mr","Mrs","Miss","Master"], prompt: "Title...", class:"form-control has-feedback-left"%>
            
          </div>



          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <%= form.label :first_name, "First Name"%>
            <%= form.text_field :first_name, id: :user_first_name, class:"form-control has-feedback-left", placeholder:"First Name"%>
            
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            

          <%= form.label :last_name, "Last Name" %>
        <%= form.text_field :last_name, id: :user_last_name, class:"form-control", placeholder:"Last Name" %>
            
            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            
    <%= form.label :email, "Email" %>
    <%= form.email_field :email, autofocus: true, autocomplete: "email",  class:"form-control has-feedback-left", placeholder:"Email"%>
  <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
          </div>


          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            
                <%= form.label :phone, "Phone"%>
              <%= form.text_field :phone, id: :user_phone, class:"form-control", placeholder:"Phone" %>

            <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            
    <%= form.label :password, "Password" %>
    
    <%= form.password_field :password, autocomplete: "off",  class:"form-control has-feedback-left", placeholder:"Password", required:"required"%>
  <span class="fa fa-briefcase form-control-feedback left" aria-hidden="true"></span>
          </div>


          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            
                <%= form.label :password_confirmation , "Confirm Password"%>
              <%= form.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirm Password", required:"required"%>

            <span class="fa fa-briefcase form-control-feedback right" aria-hidden="true"></span>
          </div>
 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <%= form.label :sex%>
            <%= form.select :sex, ["Male","Female"], prompt: "Sex...", class:"form-control has-feedback-left"%>
            
            
          </div>



   <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            
    <%= form.label :address, "Address" %>
    
    <%= form.text_field :address, id: :user_address,  class:"form-control has-feedback-left", placeholder:"Address"%>
  <span class="fa fa-edit form-control-feedback left" aria-hidden="true"></span>
          </div>


   <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            
    <%= form.label :state, "State" %>
    
    <%= form.select :state, ["Abia","Adamawa","Akwa Ibom","Anambra","Bauchi","Bayelsa","Benue","Borno","Cross River","Delta", "Ebonyi","Edo","Ekiti","Enugu","FCT","Gombe","Imo","Jigawa","Kaduna","Kano","Katsina","Kebbi","Kogi","Kwara","Lagos","Nassarawa","Niger","Ogun","Ondo","Osun","Oyo State","Plateau","River State","Sokoto","Taraba","Yobe","Zamfara"], prompt: "Select...",class:"form-control has-feedback-left"%>
          </div>


          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            
                <%= form.label :city , "City"%>
              <%= form.text_field :city, id: :user_city , class:"form-control", placeholder:"City" %>

            <span class="fa fa-briefcase form-control-feedback right" aria-hidden="true"></span>
          </div>



          
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
               <%= form.submit "Sign up", class:"btn btn-success"%>
       


<% end %>
<br>
<br>
<br>

       
            </div>
          </div>

        </form>
      </div>
    </div>





<%= link_to 'Show', @grumbler %> |

