<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Avarta</th>
      <th>Title</th>
      <th>Sex</th>
      <th>Phone</th>
      <th>Type</th>
      <th>Address</th>
      <th>Info</th>
      <th>Category</th>
      <th>Catlevel1</th>
      <th>Catlevel2</th>
      <th>Catlevel3</th>
      <th>City</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.avarta %></td>
        <td><%= user.title %></td>
        <td><%= user.sex %></td>
        <td><%= user.phone %></td>
        <td><%= user.type %></td>
        <td><%= user.address %></td>
        <td><%= user.info %></td>
        <td><%= user.category_id %></td>
        <td><%= user.catlevel1_id %></td>
        <td><%= user.catlevel2_id %></td>
        <td><%= user.catlevel3_id %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
