<% provide( :title, @catlevel2.name) %>


<%if current_user.admin?%>
<div class="row">
  <div class="col-md-12">
  <div class="x_panel" style="">
      <div class="x_title">
<h1>
  
  <%= @catlevel2.name %>
</h1>
<small>this page is available to admins only</small>
</div>
<br>
<br>
<br>



<p>
  <strong>Category:</strong>
  <%= @catlevel2.category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @catlevel2.info %>
</p>




<% if @companies.any? %>
<p class="lead" style="color:orange;">Companies Linked To this sub Category</p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Company Name</th>
     
   <th>Category</th>
     
      <th>Area of Operation</th>
  
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.first_name %>

        <% if company.first_name == "Base Company"%>

          <p style="color:red;">all grumbles to unregistered companies in this system reside here</p>
        <%end%>
        </td>
       
<td><%= company.category.name %></td>
        
        <td><%= company.sublevel.name %></td>

        <td><%= link_to 'Show', company , class:"btn btn-info btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  
<%= will_paginate @companies, :renderer => BootstrapPagination::Rails %>
<%else%>

<p style="color:red;">No Companies Registered under this sub category Yet!</p>
<%end%>



<%= link_to 'Edit', edit_catlevel1_path(@catlevel2), class:"btn btn-success" %> |
<%= link_to 'Sub Category Level 2 Repo', catlevel2s_path, class:"btn btn-success", class:"btn btn-primary" %>|
<%= link_to 'Add Category Sub Level 3', newcatlevel3_catlevel2_path(@catlevel2), class:"btn btn-success" %>
  <%= link_to 'Dashboard', root_path, class:"btn btn-info" %> | <%= link_to "Back", :back, class:"btn btn-warning"%>

<%= link_to 'Add Company', new_catlevel2_company_path(@catlevel2), class:"btn btn-info" %>

  <%else%>
    <h2>Unauthoried access!</h2>
    <p>You are not authorised to view this page.</p>
  <%end%>




