<% provide( :title, @catlevel3.name) %>


<%if current_user.admin?%>
<div class="row">
  <div class="col-md-12">
  <div class="x_panel" style="">
      <div class="x_title">
<h1>
  
  <%= @catlevel3.name %>
</h1>
<small>this page is available to admins only</small>
</div>
<br>
<br>
<br>



<p>
  <strong>Name:</strong>
  <%= @catlevel3.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @catlevel3.info %>
</p>

<%= link_to 'Edit', edit_catlevel3_path(@catlevel3), class:"btn btn-success" %> |
<%= link_to 'Sub Category Level 3 Repo', catlevel3s_path, class:"btn btn-success", class:"btn btn-primary" %>|

  <%= link_to 'Dashboard', root_path, class:"btn btn-info" %> | <%= link_to "Back", :back, class:"btn btn-warning"%>

<%= link_to 'Add Company', new_catlevel3_company_path(@catlevel3), class:"btn btn-info" %>

  <%else%>
    <h2>Unauthoried access!</h2>
    <p>You are not authorised to view this page.</p>
  <%end%>




