<% provide( :title, " Categories Repository") %>



<div class="row">
  <div class="col-md-12">
  <div class="x_panel" style="">
      <div class="x_title">
<h1>
  
  Grombll Categories
</h1>

</div>
<br>
<br>
<br>

  <% if @categories.any? %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Category Name</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |zone| %>
      <tr>
        <td><%= zone.name %></td>
       
        <td><%= link_to 'Goto Category', zone, class:"btn btn-success" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
 <%else%>
 No Categories Entered Yet

</div>
</div>
</div>

 <%end%>
  <%= link_to 'Dashboard', root_path, class:"btn btn-info" %> | <%= link_to "Back", :back, class:"btn btn-warning"%>

 <%= will_paginate @categories, :renderer => BootstrapPagination::Rails %>
 <%= link_to 'New Category', new_category_path, class:"btn btn-success"%>





